{% load static %}
 <!-- Footer Start -->
 <div class="container-fluid bg-primary text-body footer mt-5">
    <div class="copyright">
        <div class="row">
            <div class="col-md-12 text-center text-md-start mb-3 mb-md-0">
                &copy; <a href="#">NguyenThanhNhan</a>, All Right Reserved.
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-light btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'lib/jquery.amlich.min.js' %}"></script>
<script src="{% static 'lib/bootstrap.bundle.min.js' %}"></script>


</body>

</html>