{% load static %}
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg bg-primary navbar-light sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center border-end px-2 ps-4">
        <small class="fa fa-home text-light"></small>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav p-4 p-lg-0">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">BÁT TỰ</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="tutru.html" class="dropdown-item">LẬP LÁ SỐ BÁT TỰ</a>
                </div>
            </div>
            <a href="about.html" class="nav-item nav-link">TỬ VI</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">PHONG THỦY SỐ</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="feature.html" class="dropdown-item">BÓI SIM</a>
                    <a href="quote.html" class="dropdown-item">BÓI BIỂN SỐ XE</a>
                    <a href="team.html" class="dropdown-item">XEM CHỈ TAY</a>
                    <a href="testimonial.html" class="dropdown-item">XEM NHÂN TƯỚNG</a>
                </div>
            </div>
            <a href="project.html" class="nav-item nav-link">BÁT TRẠCH</a>
            <a href="contact.html" class="nav-item nav-link">XEM NGÀY - XEM TUỔI</a>
            <a href="tintuc.html" class="nav-item nav-link">BÀI VIẾT</a>
            <a href="project.html" class="nav-item nav-link">CẢI VẬN - BỔ KHUYẾT</a>
        </div>
    </div>
</nav>
<!-- Navbar End -->