{% extends 'myadmin_base.html' %}
{% load static %}
{% load custom_templatetag %}
{% block content %}
<!-- Content Start -->
<div class="container-xxl py-4 pt-5">
  <div class="row g-4">
    <div class="col-sm-12">
      <!-- Bat Tu Start -->
      <div class="col-sm-12 pb-5">
          <div class="col-12 pb-3" style="min-height:500px">
              <div class="col-12">
                  <h2>Bài Viết</h2>
              </div>
              <div class="col-12 text-end">
                  <a class="btn btn-primary" href="/myadmin/baiviet_tao">Tạo Mới</a>
              </div>
              <div class="col-12 py-4">
                  <table class="tbl">
                    <thead>
                      <th>Tên Danh Mục</th>
                      <th>Tên Bài Viết</th>
                      <th>Mô Tả</th>
                      <th>Ngày Tạo</th>
                      <th>Hình Đại Diện</th>
                      <th>Trạng Thái</th>
                      <th></th>
                    </thead>
                    <tbody>
                      {% for obj in baiviet_list %}
                        <tr>
                          <td class="fw-bold">{{obj.ten}}</td>
                          <td>{{obj.danhsachtintuc.ten}}</td>
                          <td>{{obj.mieuta}}</td>
                          <td>{{obj.ngaytao|date:"d-m-Y"}}</td>
                          <td><img src="{{obj.hinhanh|img_path_remove_code}}" alt="" width="70"/></td>
                          <td>
                            {% if obj.trangthai %}
                              Hoạt động
                            {% else %}
                              Không hoạt động
                            {% endif %}
                          </td>
                          <td class="fw-bold"><a href="/myadmin/baiviet_sua/{{obj.id}}">Sửa</a> | 
                            <a href="javascript:void(0)" onclick="del('{{obj.id}}')">Xóa</a></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
      <!-- Bat Tu End -->
    </div>
  </div>
</div>
<!-- Content End -->

<script>
  function del(id){
    if (confirm('Bạn chắc chắn muốn xóa?')) {
        location.href='/myadmin/baiviet_xoa/'+id;
    }
    else {
        return false;
    }
  }
</script>
{% endblock%}
