{% extends 'myadmin_base.html' %}
{% load static %}
{% block content %}
<!-- Content Start -->
<div class="container-xxl py-4 pt-5">
  <div class="row g-4">
    <div class="col-sm-12">
      <!-- Bat Tu Start -->
      <div class="col-sm-12 pb-5">
          <div class="col-12 pb-3" style="min-height:500px">
              <div class="col-12">
                  <h2>CHÀO MỪNG</h2>
              </div>
          </div>
      </div>
      <!-- Bat Tu End -->
    </div>
  </div>
</div>
<!-- Content End -->
{% endblock%}
