{% extends 'myadmin_login_base.html' %}
{% load static %}
{% block content %}
<!-- Content Start -->
<div class="container-xxl py-4 pt-5">
  <div class="row g-4">
    <div class="col-sm-12">
      <!-- Bat Tu Start -->
      <div class="col-sm-12 pb-5">
          <div class="col-12 pb-3 d-flex align-items-center justify-content-center">
              <div class="col-6  text-center">
                  <h2>Đăng Nhập</h2>
                  <form>
                    <div class="row g-3">
                      <div class="col-12 col-sm-12">
                          <input type="text" class="form-control" placeholder="Tài khoản" required="true">
                      </div>
                      <div class="col-12 col-sm-12">
                          <input type="password" class="form-control" placeholder="Mật khẩu" required="true">
                      </div>                      
                      <div class="col-12 text-center">
                        <button class="btn btn-primary py-3 px-5" type="submit">Đăng Nhập</button>
                    </div>
                    </div>
                  </form>
              </div>
          </div>
      </div>
      <!-- Bat Tu End -->
    </div>
  </div>
</div>
<!-- Content End -->
{% endblock%}
