{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Content Start -->
<div class="container-xxl py-4 pt-5">
  <div class="row g-4">
    <div class="col-sm-8 newslist wow fadeIn" data-wow-delay="0.2s">
      <!-- Bat Tu Start -->
      <div class="col-sm-12 pb-5">
          <div class="col-12 pb-3 newsitem">
              <div class="col-12 img">
                  <img src="{% static 'img/ptduongtrach.jpg' %}" alt="">
              </div>
              <div class="col-12 content">
                  <p class="col-12 mb-0 fs-6 fw-bold text-dark">
                      <a href="chitiettintuc.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                  </p>
                  <p class="col-12 mb-0 text-dark">
                      Pellentesque placerat, augue sed gravida commodo, orci purus lacinia nunc, non fringilla augue eros vitae nibh.
                      Integer tristique efficitur hendrerit...
                  </p>
                  <p class="col-12 mb-0">
                      <a href="danhmuctintuc.html" class="bg-primary fs-9 rounded-pill px-2 text-light">Bát Tự</a> <span class="fw-bold text-dark">Donec lorem lorem</span> - 15/05/2022
                  </p>
              </div>
          </div>
          <div class="row g-4">
              <div class="col-sm-6 newsitem">
                  <div class="col-12 img">
                      <img src="{% static 'img/ptduongtrach.jpg' %}" alt="">
                  </div>
                  <div class="col-12 content">
                      <p class="col-12 mb-0 fs-6 fw-bold text-dark">
                          <a href="chitiettintuc.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                      </p>
                      <p class="col-12 mb-0 text-dark">
                          Pellentesque placerat, augue sed gravida commodo, orci purus lacinia nunc, non fringilla augue eros vitae nibh.
                          Integer tristique efficitur hendrerit...
                      </p>
                      <p class="col-12 mb-0">
                          <a href="danhmuctintuc.html" class="bg-primary fs-9 rounded-pill px-2 text-light">Bát Tự</a> <span class="fw-bold text-dark">Donec lorem lorem</span> - 15/05/2022
                      </p>
                  </div>
              </div>
              <div class="col-sm-6 newsitem">
                  <div class="col-12 img">
                      <img src="{% static 'img/ptduongtrach.jpg' %}" alt="">
                  </div>
                  <div class="col-12 content">
                      <p class="col-12 mb-0 fs-6 fw-bold text-dark">
                          <a href="chitiettintuc.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                      </p>
                      <p class="col-12 mb-0 text-dark">
                          Pellentesque placerat, augue sed gravida commodo, orci purus lacinia nunc, non fringilla augue eros vitae nibh.
                          Integer tristique efficitur hendrerit...
                      </p>
                      <p class="col-12 mb-0">
                          <a href="danhmuctintuc.html" class="bg-primary fs-9 rounded-pill px-2 text-light">Bát Tự</a> <span class="fw-bold text-dark">Donec lorem lorem</span> - 15/05/2022
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <!-- Bat Tu End -->
      <!-- Tu Vi Start -->
      <div class="col-sm-12 pb-5 pt-3">
          <div class="col-12 pb-3 newsitem">
              <div class="col-12 img">
                  <img src="{% static 'img/pttheomenh.jpg' %}" alt="">
              </div>
              <div class="col-12 content">
                  <p class="col-12 mb-0 fs-6 fw-bold text-dark">
                      <a href="chitiettintuc.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                  </p>
                  <p class="col-12 mb-0 text-dark">
                      Pellentesque placerat, augue sed gravida commodo, orci purus lacinia nunc, non fringilla augue eros vitae nibh.
                      Integer tristique efficitur hendrerit...
                  </p>
                  <p class="col-12 mb-0">
                      <a href="danhmuctintuc.html" class="bg-primary fs-9 rounded-pill px-2 text-light">Tử vi</a> <span class="fw-bold text-dark">Donec lorem lorem</span> - 15/05/2022
                  </p>
              </div>
          </div>
          <div class="row g-4">
              <div class="col-sm-6 newsitem">
                  <div class="col-12 img">
                      <img src="{% static 'img/pttheomenh.jpg' %}" alt="">
                  </div>
                  <div class="col-12 content">
                      <p class="col-12 mb-0 fs-6 fw-bold text-dark">
                          <a href="chitiettintuc.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                      </p>
                      <p class="col-12 mb-0 text-dark">
                          Pellentesque placerat, augue sed gravida commodo, orci purus lacinia nunc, non fringilla augue eros vitae nibh.
                          Integer tristique efficitur hendrerit...
                      </p>
                      <p class="col-12 mb-0">
                          <a href="danhmuctintuc.html" class="bg-primary fs-9 rounded-pill px-2 text-light">Tử vi</a> <span class="fw-bold text-dark">Donec lorem lorem</span> - 15/05/2022
                      </p>
                  </div>
              </div>
              <div class="col-sm-6 newsitem">
                  <div class="col-12 img">
                      <img src="{% static 'img/pttheomenh.jpg' %}" alt="">
                  </div>
                  <div class="col-12 content">
                      <p class="col-12 mb-0 fs-6 fw-bold text-dark">
                          <a href="chitiettintuc.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                      </p>
                      <p class="col-12 mb-0 text-dark">
                          Pellentesque placerat, augue sed gravida commodo, orci purus lacinia nunc, non fringilla augue eros vitae nibh.
                          Integer tristique efficitur hendrerit...
                      </p>
                      <p class="col-12 mb-0">
                          <a href="danhmuctintuc.html" class="bg-primary fs-9 rounded-pill px-2 text-light">Tử vi</a> <span class="fw-bold text-dark">Donec lorem lorem</span> - 15/05/2022
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <!-- Tu Vi End -->
      <!-- Phong Thuy So Start -->
      <div class="col-sm-12 pb-5 pt-3">
          <div class="col-12 pb-3 newsitem">
              <div class="col-12 img">
                  <img src="{% static 'img/ptamtrach.jpg' %}" alt="">
              </div>
              <div class="col-12 content">
                  <p class="col-12 mb-0 fs-6 fw-bold text-dark">
                      <a href="chitiettintuc.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                  </p>
                  <p class="col-12 mb-0 text-dark">
                      Pellentesque placerat, augue sed gravida commodo, orci purus lacinia nunc, non fringilla augue eros vitae nibh.
                      Integer tristique efficitur hendrerit...
                  </p>
                  <p class="col-12 mb-0">
                      <a href="danhmuctintuc.html" class="bg-primary fs-9 rounded-pill px-2 text-light">Phong thủy số</a> <span class="fw-bold text-dark">Donec lorem lorem</span> - 15/05/2022
                  </p>
              </div>
          </div>
          <div class="row g-4">
              <div class="col-sm-6 newsitem">
                  <div class="col-12 img">
                      <img src="{% static 'img/ptamtrach.jpg' %}" alt="">
                  </div>
                  <div class="col-12 content">
                      <p class="col-12 mb-0 fs-6 fw-bold text-dark">
                          <a href="chitiettintuc.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                      </p>
                      <p class="col-12 mb-0 text-dark">
                          Pellentesque placerat, augue sed gravida commodo, orci purus lacinia nunc, non fringilla augue eros vitae nibh.
                          Integer tristique efficitur hendrerit...
                      </p>
                      <p class="col-12 mb-0">
                          <a href="danhmuctintuc.html" class="bg-primary fs-9 rounded-pill px-2 text-light">Phong thủy số</a> <span class="fw-bold text-dark">Donec lorem lorem</span> - 15/05/2022
                      </p>
                  </div>
              </div>
              <div class="col-sm-6 newsitem">
                  <div class="col-12 img">
                      <img src="{% static 'img/ptamtrach.jpg' %}" alt="">
                  </div>
                  <div class="col-12 content">
                      <p class="col-12 mb-0 fs-6 fw-bold text-dark">
                          <a href="chitiettintuc.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                      </p>
                      <p class="col-12 mb-0 text-dark">
                          Pellentesque placerat, augue sed gravida commodo, orci purus lacinia nunc, non fringilla augue eros vitae nibh.
                          Integer tristique efficitur hendrerit...
                      </p>
                      <p class="col-12 mb-0">
                          <a href="danhmuctintuc.html" class="bg-primary fs-9 rounded-pill px-2 text-light">Phong thủy số</a> <span class="fw-bold text-dark">Donec lorem lorem</span> - 15/05/2022
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <!-- Phong Thuy So End -->
      <!-- Phong Thuy Nhà VIec Start -->
      <div class="col-sm-12 pb-5 pt-3">
          <div class="col-12 pb-3 newsitem">
              <div class="col-12 img">
                  <img src="{% static 'img/carousel-1.jpg' %}" alt="">
              </div>
              <div class="col-12 content">
                  <p class="col-12 mb-0 fs-6 fw-bold text-dark">
                      <a href="chitiettintuc.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                  </p>
                  <p class="col-12 mb-0 text-dark">
                      Pellentesque placerat, augue sed gravida commodo, orci purus lacinia nunc, non fringilla augue eros vitae nibh.
                      Integer tristique efficitur hendrerit...
                  </p>
                  <p class="col-12 mb-0">
                      <a href="danhmuctintuc.html" class="bg-primary fs-9 rounded-pill px-2 text-light">Phong Thủy Nhà - Việc</a> <span class="fw-bold text-dark">Donec lorem lorem</span> - 15/05/2022
                  </p>
              </div>
          </div>
          <div class="row g-4">
              <div class="col-sm-6 newsitem">
                  <div class="col-12 img">
                      <img src="{% static 'img/carousel-1.jpg' %}" alt="">
                  </div>
                  <div class="col-12 content">
                      <p class="col-12 mb-0 fs-6 fw-bold text-dark">
                          <a href="chitiettintuc.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                      </p>
                      <p class="col-12 mb-0 text-dark">
                          Pellentesque placerat, augue sed gravida commodo, orci purus lacinia nunc, non fringilla augue eros vitae nibh.
                          Integer tristique efficitur hendrerit...
                      </p>
                      <p class="col-12 mb-0">
                          <a href="danhmuctintuc.html" class="bg-primary fs-9 rounded-pill px-2 text-light">Phong Thủy Nhà - Việc</a> <span class="fw-bold text-dark">Donec lorem lorem</span> - 15/05/2022
                      </p>
                  </div>
              </div>
              <div class="col-sm-6 newsitem">
                  <div class="col-12 img">
                      <img src="{% static 'img/carousel-1.jpg' %}" alt="">
                  </div>
                  <div class="col-12 content">
                      <p class="col-12 mb-0 fs-6 fw-bold text-dark">
                          <a href="chitiettintuc.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                      </p>
                      <p class="col-12 mb-0 text-dark">
                          Pellentesque placerat, augue sed gravida commodo, orci purus lacinia nunc, non fringilla augue eros vitae nibh.
                          Integer tristique efficitur hendrerit...
                      </p>
                      <p class="col-12 mb-0">
                          <a href="danhmuctintuc.html" class="bg-primary fs-9 rounded-pill px-2 text-light">Phong Thủy Nhà - Việc</a> <span class="fw-bold text-dark">Donec lorem lorem</span> - 15/05/2022
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <!-- Phong Thuy Nha Viec End -->
    </div>

    <!-- Right Start -->
    <div class="col-sm-4 pe-sm-0 tuvilist wow fadeIn" data-wow-delay="0.2s">
      <div class="bg-primary fs-5 fw-bold text-center text-white p-lg-2">TỬ VI 12 CON GIÁP 2022</div>
      <div class="col-12 pb-3 newsitem mb-5 bg-light mb-2">
          <ul class="congiap-widget">
              <li>
                  <a href="#"> <span class="icon icon-ti"></span> Tý </a>
              </li>
              <li>
                  <a href="#"> <span class="icon icon-suu"></span> Sửu </a>
              </li>
              <li>
                  <a href="#"> <span class="icon icon-dan"></span> Dần </a>
              </li>
              <li>
                  <a href="#"> <span class="icon icon-mao"></span> Mão </a>
              </li>
              <li>
                  <a href="#"> <span class="icon icon-thin"></span> Thìn </a>
              </li>
              <li>
                  <a href="#"> <span class="icon icon-ty"></span> Tỵ </a>
              </li>
              <li>
                  <a href="#"> <span class="icon icon-ngo"></span> Ngọ </a>
              </li>
              <li>
                  <a href="#"> <span class="icon icon-mui"></span> Mùi </a>
              </li>
              <li>
                  <a href="#"> <span class="icon icon-than"></span> Thân </a>
              </li>
              <li>
                  <a href="#"> <span class="icon icon-dau"></span> Dậu </a>
              </li>
              <li>
                  <a href="#"> <span class="icon icon-tuat"></span> Tuất </a>
              </li>
              <li> <a href="#"> <span class="icon icon-hoi"></span> Hợi </a>
              </li>
          </ul>
      </div>
      <div class="bg-primary fs-5 fw-bold text-center text-white p-lg-2">LỊCH ÂM DƯƠNG</div>
      <div class="col-12 pb-3 newsitem mb-5 bg-light mb-2">
          <div id="amlichmonth"></div>
      </div>
      <div class="bg-primary fs-5 fw-bold text-center text-white p-lg-2">LỊCH HÔM NAY</div>
      <div class="col-12 pb-3 newsitem mb-5 bg-light mb-2">
          <div id="amlichcalendar"></div>
      </div>
      <div class="bg-primary fs-5 fw-bold text-center text-white p-lg-2">FAN PAFE</div>
      <div class="col-12 pb-3 newsitem mb-5 bg-light ps-4 pt-3 mb-2">
          <div id="fb-root" class="col-12"></div>
          <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0" nonce="Pi32JY52"></script>
          <div class="fb-page" data-href="https://www.facebook.com/giamgia360" data-tabs="timeline" data-width="350" data-height="450" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
              <blockquote cite="https://www.facebook.com/giamgia360" class="fb-xfbml-parse-ignore">
                  <a href="https://www.facebook.com/giamgia360">Giảm Giá 360</a>
              </blockquote>
          </div>
      </div>
    </div>
    <!-- Right End -->
  </div>
</div>
<!-- Content End -->
{% endblock%}
